<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../asset/style/catalogue.css">
  <title>menu</title>
</head>
<body>
  
</body>
</html>

<div class="container-card">
  <div class="card">
    <img src="../asset/image/Pizza 1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Menu Solo</h5>
    </div>
  </div>

</div>

